@import './variables';
@import './mixins';
/* hexagon has been added on first lesson */
%shared-hexagon{
    width: $hexagon-width;
    height: $hexagon-height;
    background: $hexagon-color;
    margin: 2px;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon-01{
    @extend%shared-hexagon;
    top: 40%;
    left: 40%;
}
