@import './variables';
@import './mixins';
.home-container{
    display: flex;
    flex-direction: column;
    margin-inline-end: 1rem;
    position: relative;
    @include breakpoint(desktop){
        display: grid;
        grid-template-columns: 40% 60%;
    }
    & .sidebar{
        display: none;
        @include breakpoint(desktop){
            display: flex;
            position: relative;
            flex-direction: column;
            background-color: rgba($color: #ffffff, $alpha: .1);
            border-right: 1px solid rgba($color: #ffffff, $alpha: .05);
            padding: .5rem;
            gap: .5rem;
            height: 100%;
            @include animate(from-left,1s,ease,1);
            &.hidden{
                @include animate(to-left,1s,ease,1);
                opacity: 0;
                transform: translateX(-100%);
                width: 40%;
                height: 100%;
                position: fixed;
                &~.article{
                    grid-column: 2 span;
                    @include animate(from-right,1s,ease,1);
                }
            }
            &>.right-arrow
            {
                position: absolute;
                right: .5rem;
                top:.5rem;
                opacity: .8;
                &:hover{
                    cursor: pointer;
                    opacity: 1;
                    transition: opacity 200ms ease;
                }
                &::before{
                content: '\279C';
                display: flex;
                align-items: center;
                justify-content: center;
                transform: rotate(180deg);
                font-size: 2rem;
                padding-bottom: .25rem;
                padding-inline: .1rem;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: rgba($color: #ffffff, $alpha: .05);
            }
        }
            &-tech-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding-block: 1rem;
                & div{
                    display: flex;
                    flex-direction: column;
                    gap:1rem;
                    &>h4{
                        text-align: center;
                    }
                }
                & div:last-child{
                    grid-column: 1/3;
                    align-items: center;
                }
            }
            &-title{
                text-align: center;
                font-size: 1.5rem;
            }
            &-list{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                gap: .25rem;
            }
            & li{
                list-style: none;
                display: flex;
            }
            &-icon{
                position: relative;
                & svg{
                    background-color: rgba($color: #ffffff, $alpha: .08);
                    padding: .1rem;
                    border-radius: $radius-small;
                    height: 2rem;
                    width: 2rem;
                }
                &:hover{
                    @include animate(shake,450ms,linear,1);
                }
                &:hover::after{
                    font-size: .75rem;
                    padding: .25rem;
                    color: black;
                    font-weight: 700;
                    position: absolute;
                    bottom: -100%;
                    left: 0;
                    border-radius: 10px;
                    @include animate(to-bottom,500ms,ease-in,1);
                }
                &.javascript:hover::after{
                    content:'Javascript';
                    background-color: #ffd600;
                }
                &.typescript:hover::after{
                    content:'Typescript';
                    background-color: #1976d2;
                    color: #ffffff;
                }
                &.csharp:hover::after{
                    content:'C#';
                    background-color: #37474f;
                    color: #ffffff;
                }
                &.react:hover::after{
                    content:'React';
                    background-color: #53C1DE;
                }
                &.sass:hover::after{
                    content:'Sass';
                    background-color: #CD6799;
                }
                &.css:hover::after{
                    content:'Css';
                    background-color: #004CE8;
                    color: #ffffff;
                }
                &.html:hover::after{
                    content:'Html';
                    background-color: #E54C18;
                }

                &.nodejs:hover::after{
                    content:'NodeJS';
                    background-color: #539E43;
                }
                &.git:hover::after{
                    content:'Git';
                    background-color: #F4511E;
                }
                &.github:hover::after{
                    content:'Github';
                    background-color: #000000;
                    color: #ffffff;
                }
                &.mail:hover::after{
                    content:'send email';
                    background-color: #8A02B2;
                    color: #ffffff;
                }
                &.linkedin:hover::after{
                    content:'linkedin';
                    background-color: #0288D1;
                }
            }
        }
        &-profile{
            height: 10rem;
            width: 10rem;
            border-radius: $radius-full;
            background-image: url(/resources/img/dev.png);
            background-size: cover;
            background-blend-mode:difference;
            align-self: center;
        }
}
& .article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    &-header{
        padding-block-start: 1rem;
        &-title{
            text-align: center;
        }
    }
    &-description{
        display: -webkit-box;
        -webkit-line-clamp: 5;
        text-align: justify;
        overflow: hidden;
        -webkit-box-orient: vertical;
        max-width: 80%;
    }
    &-techs{
        @include animate(fade-in,1s,ease,1);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        &-header{
            &-title{
                text-align: center;
                font-size: 1.5rem;
            }
        }
        &-container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 1rem;   
        }
    }
}
}
