
$font-body:Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$text-default:#FFFFFFD0;
$bg-color:#000;
$primary-color:#73FFF1;
$hexagon-color:#111;
$radius-full:99999px;
$hexagon-width:50px;
$hexagon-height:55px;
$card-height:40vh;
// Breakpoints
$mobile: 568px;
$tablet: 768px;
$desktop: 1024px;