@import './variables';
@import './mixins';
@import './animations';
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: $text-default;
  background-color: $bg-color;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a,a:hover,a:visited{
  color: unset;
  text-decoration: none;
}
.app{
  padding-top: 2rem;
  display: grid;
  width: 100%;
  align-items: center;
  justify-items: center;
  position: relative;
  gap: 2rem;
  overflow: hidden;
  grid-template-columns: repeat(1,1fr);
  @include breakpoint(tablet){
    grid-template-columns: repeat(2,1fr);
  }
  @include breakpoint(desktop){
    grid-template-columns: repeat(3,1fr);
  }
}
#main{
  width: 100%;
  min-height: 100vh;
}
.card{
  position: relative;
  border-radius: 1rem;
  height: $card-height;
  overflow: hidden;
  aspect-ratio: 1/1;
  border: 1px solid rgba($color: #FFFFFF, $alpha: 0.4);
  background-color: rgba($color: #FFFFFF, $alpha: 0.2);
  &-title{
    position: absolute;
    top: 0;
    left: 50%;
    width: $card-height;
    text-align: center;
    transform: translateX(-50%);
    font-size: x-large;
    z-index: 10;
    background-color: rgba($color: #000000, $alpha: 0.8);
  }
  &-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.container{
  position: relative;
  overflow: hidden;
  height: 100%;
  z-index: 2;
  &-loader{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.btn{
  padding: .5rem 2rem;
  color: $text-default;
  background: rgba($color: $primary-color, $alpha: 1.0) ;
  border: 1px solid inherit;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
  &-link{
      text-decoration: none;
      border-color: transparent;
      background: transparent;
      &:hover{
          background: rgba($color: #fff, $alpha: .1);
      }
  }
}
